body {
    font-family: 'Inter', sans-serif;
    Font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}


/* CONTENT */

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    color: hsl(0, 0%, 100%);
    background-color: hsl(244, 38%, 16%);
    width: 540px;
    height: 446px;
    padding: 4rem 5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.content__title {
    line-height: 3rem;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.content__title__strongElement {
    color: hsl(277, 64%, 61%);
}

.content__p {
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5rem;
}

.statList {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.statList__item {
    display: flex;
    flex-direction: column;
}

.statList__item__strongItem {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
}

.statList__item__head {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    font-family: 'Lexend Deca', sans-serif;
}


/* IMG */

.imageSection {
    background-color: hsl(277, 64%, 61%);
    width: 540;
    height: auto;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.imageSection__img {
    mix-blend-mode:multiply;
    filter : opacity(75%);
    display: block;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Responsive design */

@media screen and (max-width: 376px) {
    .main {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 8rem 2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 325px;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0.5rem;
        padding: 1.5rem 1rem;
        height: auto;
    }

    .content__title {
        margin-top: 1rem;
        line-height: 2rem;
        font-size: 1.8rem;
    }

    .content__p {
        margin-bottom: 3rem;
        padding: 0 1rem;
    }

    .statList {
        display: flex;
        flex-direction: column;
        margin-right: inherit;
    }

    .statList__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .imageSection {
        width: 325px;
        height: auto;
        border-bottom-right-radius: inherit;
        border-top-left-radius: 0.5rem;
    }

    .imageSection__img {
        width: 325px;
        height: auto;
        border-bottom-right-radius: inherit;
        border-top-left-radius: 0.5rem;
    }

}